.links {
  margin-top: 20rem;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hobbit {
  width: 25vw;
  height: 25vw;
  margin: 14rem 8rem .5rem 15rem;
}
.contact {
  width: 100vw;
  display: flex;
  flex-direction: row;
  color: aliceblue;
  font-size: 1rem;
}
#icons {
  display: flex;
  flex-direction: row;
}
#icon {
  padding: .5rem .5rem .5rem .5rem;
  color: #0f3568;
  font-size: 2rem;
}
#icon:hover {
  color: aliceblue;
}
#sentence1 {
  margin: .5rem .5rem .5rem .5rem;
  font-size: 1.5rem;
  color: aliceblue;
}
#sentence {
  margin: .5rem .5rem .5rem .5rem;
  font-size: 1.5rem;
}

@media only screen and (max-width: 320px) {
  .contact {
    position: fixed;
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom: 13rem;
  }
    .links {
      width: 75vw;
      margin: 0 0 0 0;
    }
    #sentence1 {
      font-size: 1.3rem;
      width: 90vw;
    }
    #sentence {
      font-size: 1.2rem;
    }
    #icon {
      font-size: 1.5rem;
    }
    #hobbit {
      text-align: center;
      position: static;
      width: 50%;
      height: auto;
      margin: 8rem 0 0 0;
    }
}
@media screen and (max-width: 750px) {
  .contact {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom: 13rem;
  }
    .links {
      width: 75vw;
      margin: 0 0 0 0;
    }
    #sentence1 {
      font-size: 1.3rem;
      width: 90vw;
      /* margin-left: 15rem; */
    }
    #sentence {
      font-size: 1.2rem;
    }
    #icon {
      font-size: 1.5rem;
    }
    #hobbit {
      text-align: center;
      position: static;
      width: 50%;
      height: auto;
      margin: 8rem 0 0 0;
    }
  }
