.links {
  margin-top: 20em;
  margin-left: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hobbit {
  width: 25vw;
  height: 25vw;
  margin: 14em 8em .5em 15em;
}
.contactClass {
  width: 100vw;
  display: flex;
  flex-direction: row;
  color: aliceblue;
  font-size: 1em;
}
#icons {
  display: flex;
  flex-direction: row;
}
#icon {
  padding: .5em .5em .5em .5em;
  color: #0f3568;
  font-size: 2em;
}
#icon:hover {
  color: aliceblue;
}
#sentence1 {
  margin: .5em .5em .5em .5em;
  font-size: 1.5em;
  color: aliceblue;
}
#sentence {
  margin: .5em .5em .5em .5em;
  font-size: 1.5em;
}
/* #river {
  width: 90vw;
  height: 15vw;
  margin: .5em .5em 5em .5em;
  border-radius: 2em;
} */
@media only screen and (max-width: 768px) {
  #sentence {
    font-size: 3vw;
  }
  #contact {
    font-size: 4vw;
  }
  #contactDiv {
    width: 200vw;
  }
  #icon {
    font-size: 1em;
  }
  img.photos {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  #sentence {
    font-size: 3vw;
  }
  #contact {
    font-size: 2vw;
  }
  #contactDiv {
    width: 200vw;
  }
  #icon {
    font-size: 1em;
  }
  img.photos {
    display: none;
  }
}
