@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
body {
  box-sizing: border-box;
  /* background: linear-gradient(to right, rgba(14, 101, 105, 0.336), rgba(40, 150, 148, 0.336)); */
  /* background: linear-gradient(to right, rgb(14, 101, 105), rgb(40, 150, 148)); */
  background: rgb(40, 150, 148);
  /* background: #26a69a; */
  font-family: 'Vollkorn', serif;
}
#header {
  background: rgb(40, 150, 148);
  /* background: linear-gradient(to right, rgb(14, 101, 105), rgb(40, 150, 148)); */
  position: fixed;
  height: 18vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  /* box-shadow: 2px 2px 2px white; */
}
img {
  height: 20vh;
  width: 20vw;
  margin-top: 1em;  
}
.buttons {
  width: 35vw;
  margin-top: 10vh;
  margin-left: 30vw;
}

.button {
    margin: .5em .5em .5em .5em;
    font-size: 1.5vw;
    font-weight: bolder;
    color: aliceblue; 
    /* border: solid whitesmoke .1vw; */
    border-radius: .2em;
    text-align: center;
    padding: .2vw; 
}
.button:hover {
  color: #0f3568;
  cursor: pointer;
}
.button:focus {
  color: #0f3568;
  text-decoration: underline;
}
#logo {
  position: relative;
  left: 1vw;
}
.titleDiv {
  position: absolute;
  top: 1.5vh;
  left: 8vw;
}
h1 {
  font-size: 2.5em;
  color: white;
  width: 40vw;
}
h2 {
  font-size: 1.5em;
  color: #0f3568;
  /* color: rgb(75, 144, 204); */
  margin-top: -5vh;
  margin-left: 1vw;
}
h3 {
  font-size: 1.5em;
  color: #0f3568;
  margin-top: -4vh;
  margin-left: 1vw;

}
@media screen and (max-width: 768px) {
  #header {
    display: flex;
    flex-direction: column;
    width: 100vw; 
    height: 20vh;
    position: fixed;

  } 
  #logo {
  margin-left: -60vw; 
  }
  h1 {
    margin-left: -15vw;
    font-size: 1.2em;
    margin-bottom: 1em;
    margin-top: -.2vh;
  }
  h2 {
    margin-left: -12vw;
    font-size: 1em;
    margin-top: -7vh;
  }
  h3 {
    margin-left: -12vw;
    font-size: 1em;
    margin-top: -5vh;
  }
  img {
    margin-top: -1vh;
    margin-left: -15vw;
    height: 20vh;
    width: 20vw;
  }
  .buttons {
    margin-top: -50vh;
    /* margin-right: -60vw; */
  }
  .button {
    font-size: .5em;
  }
}

@media screen and (max-width: 480px) {
  #header {
    display: flex;
    flex-direction: column;
    width: 100vw; 
    height: 15vh;
    position: fixed;

  } 
  #logo {
    position: relative;
    left: 5vw;
  }
  h1 {
      margin-left: 1vw;
      font-size: 1.5em; 
      margin-bottom: 1.5em;
    }
    #titleDiv {
      margin-left: 5vw;
    }
    h2 {
      font-size: 1em;
      margin-left: 1vw;
    }
    h3 { 
      font-size: 1em;
      margin-top: -3vh;
      margin-left: .5em;
    }
    img {
      height: 15vh;
      width: 35vw;
      /* margin-left: .2em; */
    }
    .buttons {
      margin-top: -15vh;
      /* margin-right: -50vw; */
    }
    .button {
      font-size: .5em; 
    } 
} 