#aboutDiv {
  /* background: linear-gradient(to right, rgba(11, 70, 62, 0.644), rgba(44, 165, 163, 0.651)); */
  width: 100vw;
  padding: .1em 0 .1em 0;
  /* margin-top: 25vh; */
}
#aboutDiv {
  /* position: relative; */
  color: #0f3568;
}
#about {
  color: #0f3568;
  font-family: 'Vollkorn', serif;
  margin-top: 20vh;
  margin-left: 5vw;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: .5em .5em .5em .5em;
}
#text {
  width: 30vw;
  font-size: 1.5em;
  padding: .5em .5em .5em .5em;
  margin: .5em .5em .0em .5em;
  color: #0f3568;
}
.bottom {
  display: flex;
  justify-content: center;
  margin: .5em .5em .5em .5em;

}
/* #river {
  width: 90vw;
  height: 15vw;
  margin: .5em .5em 5em .5em;
  border-radius: 2em;
} */
#hobbit {
  width: 25vw;
  height: 25vw;
  margin: .5em 8em .5em .5em;
}
#cook {
  width: 27vw;
  height: 24vw;
  margin: .5em .5em .5em .5em;
  border-radius: 2em;
}

@media only screen and (max-width: 768px) {
  #text {
    font-size: 4vw;
    width: 80vw;
  }
  #aboutDiv {
    width: 200vw;
  }
  h1 {
    font-size: 4vw;
  }
  img.photos {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  #text {
    font-size: 4vw;
    width: 80vw;
  }
  h1 {
    font-size: 5vw;
  }
  #aboutDiv {
    width: 200vw;
  }
  img.photos {
    display: none;
  } 
} 