.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15rem .5rem .5rem 20rem;
}
#text {
  width: 50vw;
  font-size: 1.5rem;
  padding: .5rem .5rem .5rem .5rem;
  color: #0f3568;
}

@media screen and (max-width: 750px) {
  #text {
    width: 75vw;
    }
  .aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-top: 25%;
    margin-left: 2rem;
    width: 100vw;
  }
  h2 {
    font-family: Source Sans Pro;
    font-weight: 600;
  }

  a {
    text-decoration: none;
    font-weight: 700;
    color: #0f3568;
  }

  a:hover {
    color: aliceblue;
  }

  p {
    font-family: Source Sans Pro;
    font-weight: 300;
  }

  #text {
    width: 80vw;
    margin-top: 5%;
  }
}