.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: 15em .5em .5em 20em;
}
#text {
  width: 50vw;
  font-size: 1.5em;
  padding: .5em .5em .5em .5em;
  margin: .5em .5em .0em .5em;
  /* color: #0f3568; */
  color: aliceblue;
}

@media only screen and (max-width: 768px) {
  #text {
    font-size: 4vw;
    width: 80vw;
  }
  h1 {
    font-size: 4vw;
  }
  
}

@media only screen and (max-width: 320px) {
  #text {
    font-size: 4vw;
    width: 80vw;
  }
  h1 {
    font-size: 5vw;
  }

} 