#techTitle {
  background: linear-gradient(to right, rgba(11, 70, 62, 0.644), rgba(44, 165, 163, 0.651));
  width: 100vw;
  padding: .1em 0 .1em 0;
}
.techDiv {
  display: flex;
  flex-direction: row;
}
ul{
  display: flex;
  flex-direction: column;
  margin: .5em .5em .5em .5em;
  padding: 1em 1em 1em 1em;
  align-items: center;
}
li {
  font-family: 'Vollkorn', sans-serif;
  list-style: none;
  font-size: 1.5em;
}
h2 {
  font-family: 'Vollkorn', sans-serif;
  color: white;
  font-size: 2.5em;

}
h3 {
  font-family: 'Vollkorn', sans-serif;
  color: white;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (max-width: 768px) {
  li {
    font-size: 3vw;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 3vw;
  }
  ul {
    width: 5vw;
  }
  
  #techTitle {
    width: 200vw;
  }
}

@media only screen and (max-width: 320px) {
  li {
    font-size: 3vw;
  }
  h2 {
    font-size: 5vw;
  }
  h3 {
    font-size: 3vw;
  }
  ul {
    width: 5vw;
  }
  #techTitle {
    width: 200vw;
  }
}