.techDiv {
  display: flex;
  flex-direction: row;
  margin-top: 35vh;
  margin-left: 22vw;
}
ul{
  display: flex;
  flex-direction: column;
  margin: .5em .5em .5em .5em;
  padding: 1em 1em 1em 1em;
  align-items: center;
}
li {
  font-family: 'Vollkorn', sans-serif;
  list-style: none;
  font-size: 1.3em;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3 {
  font-family: 'Vollkorn', sans-serif;
  color: #0f3568;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (max-width: 768px) {
  li {
    font-size: 3vw;
  }
  h3 {
    font-size: 3vw;
  }
  ul {
    width: 5vw;
  }
}

@media only screen and (max-width: 320px) {
  li {
    font-size: 3vw;
  }
  h3 {
    font-size: 3vw;
  }
  ul {
    width: 5vw;
  }
}