.carousel-root {
  outline: none;
  height: 10rem;
  width: 50rem;
}
.thumbs {
  display: flex;
  justify-content: center;
}
.slide img {
  height: 25rem;
}
.carousel .slide .legend {
  color: teal;
  background-color: none;
}
.carousel .carousel-status {
  text-shadow: none;
  visibility: hidden;
  
}
.carousel .thumb.selected, .carousel .thumb:hover {
  border: 2px solid teal;
}