@import url('https://fonts.googleapis.com/css?family=Bellota|Roboto|Sen&display=swap');


.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}
  section {
    /* position: absolute; */
    /* left: 50%; */
  }

  p {
    font-family: 'Sen', sans-serif;
    font-size: 1rem;
  }
  
  .emphasis {
    font-family: 'Bellota', cursive;
    font-weight: 800;
    font-style: italic;
    text-align: center;
  }

  h1 {
    font-size: 1.7rem;
    margin-top: 1em;
  }

  h1, h3 {
    font-family: 'Roboto', sans-serif;
    color: #4d68ff;
  }
