#projectsDiv {
  background: linear-gradient(to right, rgba(11, 70, 62, 0.644), rgba(44, 165, 163, 0.651));
  width: 100vw;
  padding: .1em 0 .1em 0;
}
h1 {
  color: white;
}
.projects {
  padding: 40px;
  background: #419be0;
}
.carousel-root {
  width: 90vw;
  height: 80vh;
}
.carousel .control-dots {
  flex-direction: row;
  justify-content: center;
}
.slick-slide img {
  margin: auto;
}
