#projectsDiv {
  background: linear-gradient(to right, rgba(11, 70, 62, 0.644), rgba(44, 165, 163, 0.651));
  width: 100vw;
  padding: .1em 0 .1em 0;
}
h1 {
  color: white;
}
.projectItems {
  display: flex;
  flex-direction: row;
}
#description {
  width: 60vw;
}
.textSection {
  width: 80vw;
}
.projects {
  padding: 40px;
}
.carousel-root {
  width: 90vw;
  height: 80vh;
}
.carousel .control-dots {
  flex-direction: row;
  justify-content: center;
}
.slick-slide img {
  margin: auto;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: rgb(44, 134, 125);
  text-decoration: none;
}
p {
  padding: .5em .5em .5em .5em;
  display: flex;
  flex-direction: row;
  color: aliceblue
}
@media only screen and (max-width: 768px) {
  li {
    font-size: 3vw;
  }
  h2 {
    font-size: 3vw;
  }
  h3, a {
    font-size: 3vw;
  }
  #projectsDiv {
    width: 200vw;
  }
}

@media only screen and (max-width: 320px) {
  li {
    font-size: 3vw;
  }
  h2 {
    font-size: 3vw;
  }
  h3, a {
    font-size: 3vw;
  }
  #projectsDiv {
    width: 200vw;
  }
}